In [1]:
#libraries import
import pandas as pd
import numpy as np
from datetime import datetime
import seaborn as sns

In [2]:
train = pd.read_csv('/home/hduser/Desktop/AdClicks/Data/train.csv')
test=pd.read_csv('/home/hduser/Desktop/AdClicks/Data/test.csv')

In [3]:
train.head(2)

,ID,datetime,siteid,offerid,category,merchant,countrycode,browserid,devid,click
0,IDsrk7SoW,2017-01-14 09:42:09,4709696.0,887235,17714,20301556,e,Firefox,NaN,0
1,IDmMSxHur,2017-01-18 17:50:53,5189467.0,178235,21407,9434818,b,Mozilla Firefox,Desktop,0

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12137810 entries, 0 to 12137809
Data columns (total 10 columns):
ID             object
datetime       object
siteid         float64
offerid        int64
category       int64
merchant       int64
countrycode    object
browserid      object
devid          object
click          int64
dtypes: float64(1), int64(4), object(5)
memory usage: 926.0+ MB

In [5]:
train.click.value_counts() #imbalanced data

0    11700596
1      437214
Name: click, dtype: int64

In [6]:
# set datatime
train['datetime'] = pd.to_datetime(train['datetime'])
test['datetime'] = pd.to_datetime(test['datetime'])

# create datetime variable
train['tweekday'] = train['datetime'].dt.weekday
train['thour'] = train['datetime'].dt.hour
train['tminute'] = train['datetime'].dt.minute

test['tweekday'] = test['datetime'].dt.weekday
test['thour'] = test['datetime'].dt.hour
test['tminute'] = test['datetime'].dt.minute

In [7]:
train.head(2)

,ID,datetime,siteid,offerid,category,merchant,countrycode,browserid,devid,click,tweekday,thour,tminute
0,IDsrk7SoW,2017-01-14 09:42:09,4709696.0,887235,17714,20301556,e,Firefox,NaN,0,5,9,42
1,IDmMSxHur,2017-01-18 17:50:53,5189467.0,178235,21407,9434818,b,Mozilla Firefox,Desktop,0,2,17,50

In [8]:
train.drop(['datetime'],axis=1,inplace=True)
test.drop(['datetime'],axis=1,inplace=True)

In [9]:
train.head()

,ID,siteid,offerid,category,merchant,countrycode,browserid,devid,click,tweekday,thour,tminute
0,IDsrk7SoW,4709696.0,887235,17714,20301556,e,Firefox,NaN,0,5,9,42
1,IDmMSxHur,5189467.0,178235,21407,9434818,b,Mozilla Firefox,Desktop,0,2,17,50
2,IDVLNN0Ut,98480.0,518539,25085,2050923,a,Edge,NaN,0,2,12,46
3,ID32T6wwQ,8896401.0,390352,40339,72089744,c,Firefox,Mobile,0,1,10,18
4,IDqUShzMg,5635120.0,472937,12052,39507200,d,Mozilla Firefox,Desktop,0,5,16,2

In [10]:
#treating null values

df=pd.DataFrame()

def null_values(df):
    df[df.isnull()==True]=0
    return df

def null_values_cat(df):
    df[df.isnull()==True]="NULL"
    return df

In [11]:
train['siteid']=null_values(train.siteid)
test['siteid']=null_values(test.siteid)

train['devid']=null_values(train.devid)
test['devid']=null_values(test.devid)

train['browserid']=null_values_cat(train.browserid)
test['browserid']=null_values_cat(test.browserid)

/home/hduser/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/hduser/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [12]:
train.head()

,ID,siteid,offerid,category,merchant,countrycode,browserid,devid,click,tweekday,thour,tminute
0,IDsrk7SoW,4709696.0,887235,17714,20301556,e,Firefox,0,0,5,9,42
1,IDmMSxHur,5189467.0,178235,21407,9434818,b,Mozilla Firefox,Desktop,0,2,17,50
2,IDVLNN0Ut,98480.0,518539,25085,2050923,a,Edge,0,0,2,12,46
3,ID32T6wwQ,8896401.0,390352,40339,72089744,c,Firefox,Mobile,0,1,10,18
4,IDqUShzMg,5635120.0,472937,12052,39507200,d,Mozilla Firefox,Desktop,0,5,16,2

In [13]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12137810 entries, 0 to 12137809
Data columns (total 12 columns):
ID             object
siteid         float64
offerid        int64
category       int64
merchant       int64
countrycode    object
browserid      object
devid          object
click          int64
tweekday       int64
thour          int64
tminute        int64
dtypes: float64(1), int64(7), object(4)
memory usage: 1.1+ GB

In [14]:
train.drop(['ID'],axis=1,inplace=True)

In [15]:
test.drop(['ID'],axis=1,inplace=True)

In [16]:
train.siteid.value_counts()

0.0          1212515
8896401.0      38635
1466152.0      36487
98480.0        29471
2817379.0      23786
3665704.0      19812
3032554.0      18722
3696590.0      16714
7930294.0      16413
8946231.0      15877
7483326.0      14811
9688010.0      14336
9732114.0      13448
1402501.0      13307
6357104.0      13257
1512420.0      12872
4800985.0      12003
2627839.0      11973
4097220.0      11581
7860250.0      11065
4782754.0      11030
8956254.0      10853
3039169.0      10705
141740.0       10483
4882623.0      10427
9303527.0       9941
3298470.0       9703
7656473.0       9417
3270397.0       9410
4714191.0       9262
              ...
4682622.0          1
4682602.0          1
4679010.0          1
4679187.0          1
4679492.0          1
4679519.0          1
4679618.0          1
9719807.0          1
4679912.0          1
4679951.0          1
4680071.0          1
4680113.0          1
4680286.0          1
4680299.0          1
4680383.0          1
4680442.0          1
9719754.0          1
4680824.0          1
4680999.0          1
9719688.0          1
4681169.0          1
4681663.0          1
4681678.0          1
4681726.0          1
4681816.0          1
9719622.0          1
4682019.0          1
4682460.0          1
4682550.0          1
4366566.0          1
Name: siteid, Length: 219174, dtype: int64