In [1]:
import pandas as pd
import numpy as np
import nltk
import re

In [2]:
X_train=pd.read_csv('/home/hduser/Desktop/FundingProject/Data/train.csv')
X_test=pd.read_csv('/home/hduser/Desktop/FundingProject/Data/test.csv')

In [3]:
X_train.shape

(108129, 14)

In [4]:
y=X_train['final_status']

In [5]:
X_test.shape

(63465, 12)

In [6]:
X_train.head()

,project_id,name,desc,goal,keywords,disable_communication,country,currency,deadline,state_changed_at,created_at,launched_at,backers_count,final_status
0,kkst1451568084,drawing for dollars,I like drawing pictures. and then i color them...,20.0,drawing-for-dollars,False,US,USD,1241333999,1241334017,1240600507,1240602723,3,1
1,kkst1474482071,Sponsor Dereck Blackburn (Lostwars) Artist in ...,"I, Dereck Blackburn will be taking upon an inc...",300.0,sponsor-dereck-blackburn-lostwars-artist-in-re...,False,US,USD,1242429000,1242432018,1240960224,1240975592,2,0
2,kkst183622197,Mr. Squiggles,So I saw darkpony's successfully funded drawin...,30.0,mr-squiggles,False,US,USD,1243027560,1243027818,1242163613,1242164398,0,0
3,kkst597742710,Help me write my second novel.,Do your part to help out starving artists and ...,500.0,help-me-write-my-second-novel,False,US,USD,1243555740,1243556121,1240963795,1240966730,18,1
4,kkst1913131122,Support casting my sculpture in bronze,"I'm nearing completion on a sculpture, current...",2000.0,support-casting-my-sculpture-in-bronze,False,US,USD,1243769880,1243770317,1241177914,1241180541,1,0

In [7]:
X_test.head()

,project_id,name,desc,goal,keywords,disable_communication,country,currency,deadline,state_changed_at,created_at,launched_at
0,kkst917493670,Bràthair.,"My first film, of many to come. Trying to purs...",7000.0,brathair,False,US,USD,1449619185,1449619185,1446002581,1446159585
1,kkst1664901914,THE SCREENWRITER,A young man that has earned his master's in sc...,35000.0,the-screenwriter,False,US,USD,1453435620,1453435620,1450297323,1450411620
2,kkst925125077,The Hornets Nest the Fairmont Heights Story,Film about a high school constructed for negro...,49500.0,the-hornets-nest-the-fairmont-heights-story,False,US,USD,1451780700,1451780700,1448581356,1448672128
3,kkst1427645275,BROTHERS Season 2 - Groundbreaking Transgender...,The acclaimed series about a group of transgen...,40000.0,brothers-season-2-groundbreaking-transgender-male,False,US,USD,1445021518,1445021530,1440966830,1442429518
4,kkst1714249266,Blackdom the movie,Blackdom's history offers a new narrative tha...,20000.0,blackdom-the-movie,False,US,USD,1462068840,1462068844,1455765276,1458334890

In [8]:
X_train.drop(['name','disable_communication','country','currency','backers_count','final_status'],axis=1,inplace=True)

In [9]:
X_test.drop(['name','disable_communication','country','currency'],axis=1,inplace=True)

In [10]:
print(X_train.shape)
print("------------------------\n")
print(X_test.shape)

(108129, 8)
------------------------

(63465, 8)

In [11]:
X_train.head()

,project_id,desc,goal,keywords,deadline,state_changed_at,created_at,launched_at
0,kkst1451568084,I like drawing pictures. and then i color them...,20.0,drawing-for-dollars,1241333999,1241334017,1240600507,1240602723
1,kkst1474482071,"I, Dereck Blackburn will be taking upon an inc...",300.0,sponsor-dereck-blackburn-lostwars-artist-in-re...,1242429000,1242432018,1240960224,1240975592
2,kkst183622197,So I saw darkpony's successfully funded drawin...,30.0,mr-squiggles,1243027560,1243027818,1242163613,1242164398
3,kkst597742710,Do your part to help out starving artists and ...,500.0,help-me-write-my-second-novel,1243555740,1243556121,1240963795,1240966730
4,kkst1913131122,"I'm nearing completion on a sculpture, current...",2000.0,support-casting-my-sculpture-in-bronze,1243769880,1243770317,1241177914,1241180541

In [12]:
#import time

#unix_cols = ['deadline','state_changed_at','launched_at','created_at']

#for x in unix_cols:
#    X_train[x] = X_train[x].apply(lambda k: time.ctime(k))
#    X_test[x] = X_test[x].apply(lambda k: time.ctime(k))

In [13]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63465 entries, 0 to 63464
Data columns (total 8 columns):
project_id          63465 non-null object
desc                63461 non-null object
goal                63465 non-null float64
keywords            63465 non-null object
deadline            63465 non-null int64
state_changed_at    63465 non-null int64
created_at          63465 non-null int64
launched_at         63465 non-null int64
dtypes: float64(1), int64(4), object(3)
memory usage: 3.9+ MB

In [14]:
print(X_train.iloc[0])

project_id                                             kkst1451568084
desc                I like drawing pictures. and then i color them...
goal                                                               20
keywords                                          drawing-for-dollars
deadline                                                   1241333999
state_changed_at                                           1241334017
created_at                                                 1240600507
launched_at                                                1240602723
Name: 0, dtype: object

In [15]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108129 entries, 0 to 108128
Data columns (total 8 columns):
project_id          108129 non-null object
desc                108121 non-null object
goal                108129 non-null float64
keywords            108129 non-null object
deadline            108129 non-null int64
state_changed_at    108129 non-null int64
created_at          108129 non-null int64
launched_at         108129 non-null int64
dtypes: float64(1), int64(4), object(3)
memory usage: 6.6+ MB

In [16]:
X_train.head()

,project_id,desc,goal,keywords,deadline,state_changed_at,created_at,launched_at
0,kkst1451568084,I like drawing pictures. and then i color them...,20.0,drawing-for-dollars,1241333999,1241334017,1240600507,1240602723
1,kkst1474482071,"I, Dereck Blackburn will be taking upon an inc...",300.0,sponsor-dereck-blackburn-lostwars-artist-in-re...,1242429000,1242432018,1240960224,1240975592
2,kkst183622197,So I saw darkpony's successfully funded drawin...,30.0,mr-squiggles,1243027560,1243027818,1242163613,1242164398
3,kkst597742710,Do your part to help out starving artists and ...,500.0,help-me-write-my-second-novel,1243555740,1243556121,1240963795,1240966730
4,kkst1913131122,"I'm nearing completion on a sculpture, current...",2000.0,support-casting-my-sculpture-in-bronze,1243769880,1243770317,1241177914,1241180541

In [17]:
X_test.head()

,project_id,desc,goal,keywords,deadline,state_changed_at,created_at,launched_at
0,kkst917493670,"My first film, of many to come. Trying to purs...",7000.0,brathair,1449619185,1449619185,1446002581,1446159585
1,kkst1664901914,A young man that has earned his master's in sc...,35000.0,the-screenwriter,1453435620,1453435620,1450297323,1450411620
2,kkst925125077,Film about a high school constructed for negro...,49500.0,the-hornets-nest-the-fairmont-heights-story,1451780700,1451780700,1448581356,1448672128
3,kkst1427645275,The acclaimed series about a group of transgen...,40000.0,brothers-season-2-groundbreaking-transgender-male,1445021518,1445021530,1440966830,1442429518
4,kkst1714249266,Blackdom's history offers a new narrative tha...,20000.0,blackdom-the-movie,1462068840,1462068844,1455765276,1458334890

In [18]:
def combinedata():
    combined_X=X_train.append(X_test)
    #combined_X['desc']=combinedX['desc'].astype(str)
    combined_X['diff_creat_laun']=abs(combined_X['created_at']-combined_X['launched_at'])
    combined_X['diff_laun_status']=abs(combined_X['launched_at']-combined_X['state_changed_at'])
    combined_X['diff_status_dead']=(combined_X['state_changed_at']-combined_X['deadline'])
    print("Shape of total data",combined_X.shape)
    combined_X.reset_index(inplace=True)
    combined_X.drop('index',axis=1,inplace=True)
    return combined_X

In [19]:
combinedX=pd.DataFrame(combinedata())

Shape of total data (171594, 11)

In [20]:
combinedX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171594 entries, 0 to 171593
Data columns (total 11 columns):
project_id          171594 non-null object
desc                171582 non-null object
goal                171594 non-null float64
keywords            171594 non-null object
deadline            171594 non-null int64
state_changed_at    171594 non-null int64
created_at          171594 non-null int64
launched_at         171594 non-null int64
diff_creat_laun     171594 non-null int64
diff_laun_status    171594 non-null int64
diff_status_dead    171594 non-null int64
dtypes: float64(1), int64(7), object(3)
memory usage: 14.4+ MB

In [21]:
combinedX.drop(['created_at','launched_at','state_changed_at','deadline'],axis=1,inplace=True)

In [22]:
combinedX.head()

,project_id,desc,goal,keywords,diff_creat_laun,diff_laun_status,diff_status_dead
0,kkst1451568084,I like drawing pictures. and then i color them...,20.0,drawing-for-dollars,2216,731294,18
1,kkst1474482071,"I, Dereck Blackburn will be taking upon an inc...",300.0,sponsor-dereck-blackburn-lostwars-artist-in-re...,15368,1456426,3018
2,kkst183622197,So I saw darkpony's successfully funded drawin...,30.0,mr-squiggles,785,863420,258
3,kkst597742710,Do your part to help out starving artists and ...,500.0,help-me-write-my-second-novel,2935,2589391,381
4,kkst1913131122,"I'm nearing completion on a sculpture, current...",2000.0,support-casting-my-sculpture-in-bronze,2627,2589776,437

In [23]:
combinedX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171594 entries, 0 to 171593
Data columns (total 7 columns):
project_id          171594 non-null object
desc                171582 non-null object
goal                171594 non-null float64
keywords            171594 non-null object
diff_creat_laun     171594 non-null int64
diff_laun_status    171594 non-null int64
diff_status_dead    171594 non-null int64
dtypes: float64(1), int64(3), object(3)
memory usage: 9.2+ MB

In [24]:
combinedX.isnull().any() #Null values check

project_id          False
desc                 True
goal                False
keywords            False
diff_creat_laun     False
diff_laun_status    False
diff_status_dead    False
dtype: bool

## Cleaning

In [25]:
kickdesc = pd.Series(X_train['desc'].tolist() + X_test['desc'].tolist()).astype(str)

In [26]:
# this function cleans punctuations, digits and irregular tabs. Then converts the sentences to lower
def desc_clean(word):
    p1 = re.sub(pattern='(\W+)|(\d+)|(\s+)',repl=' ',string=word)
    p1 = p1.lower()
    return p1

In [27]:
kickdesc=kickdesc.map(desc_clean)

In [28]:
from nltk.corpus import stopwords
stop =(stopwords.words('english'))
stop.extend(['mr','my','the','a','may','also','zero','one','two','three','four','five','six','seven','eight','nine','ten','across','among','beside','however','yet','within'])

In [29]:
kickdesc = [[x for x in x.split() if x not in stop] for x in kickdesc]

In [30]:
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer(language='english')
kickdesc = [[stemmer.stem(x) for x in x] for x in kickdesc]

In [31]:
stemmer = SnowballStemmer(language='english')
kickdesc = [[stemmer.stem(x) for x in x] for x in kickdesc]

In [32]:
kickdesc = [[x for x in x if len(x) > 2] for x in kickdesc]

In [33]:
kickdesc = [' '.join(x) for x in kickdesc]

In [34]:
kickkey=combinedX.keywords.astype(str)

In [35]:
kickkey=kickkey.map(desc_clean)

In [36]:
kickkey = [[x for x in x.split() if x not in stop] for x in kickkey]

In [37]:
stemmer = SnowballStemmer(language='english')
kickkey = [[stemmer.stem(x) for x in x] for x in kickkey]

In [38]:
stemmer = SnowballStemmer(language='english')
kickkey = [[stemmer.stem(x) for x in x] for x in kickkey]

In [39]:
kickkey = [[x for x in x if len(x) > 2] for x in kickkey]

In [40]:
kickkey = [' '.join(x) for x in kickkey]

In [41]:
type(kickkey)

list

In [42]:
dframe1=pd.DataFrame({'Description':kickdesc}).astype(str)

In [43]:
dframe2=pd.DataFrame({'Key':kickkey}).astype(str)

In [44]:
#result = pd.concat([dframe1, dframe2], axis=1, join_axes=[dframe1.index])

In [45]:
dframe=[]
for i in range(dframe1.shape[0]):
    dframe.append(dframe1.Description[i]+" "+dframe2.Key[i])

In [46]:
#dframe=pd.DataFrame({'Desc_Key':dframe}).astype(str)

In [47]:
#dframe.head(2)

In [48]:
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer
cv = TfidfVectorizer(max_features=650)

In [49]:
alldesc = cv.fit_transform(dframe).todense()

In [50]:
#create a data frame
combine = pd.DataFrame(alldesc)
combine.rename(columns= lambda x: 'variable_'+ str(x), inplace=True)

In [51]:
type(combine)

pandas.core.frame.DataFrame

In [52]:
combinedX.tail(1)

,project_id,desc,goal,keywords,diff_creat_laun,diff_laun_status,diff_status_dead
171593,kkst1164902454,"Join Daisy, on her adventures, in this theme b...",850.0,daisys-sensory-adventures-childrens-book,5455,1296000,0

In [53]:
combinedX.drop(['project_id','desc','keywords'], axis=1,inplace=True)

In [54]:
combinedX.columns

Index(['goal', 'diff_creat_laun', 'diff_laun_status', 'diff_status_dead'], dtype='object')

In [55]:
combinedX.shape

(171594, 4)

In [56]:
from sklearn.preprocessing import MinMaxScaler
combinedX['goal']=MinMaxScaler().fit_transform(combinedX['goal'])
combinedX['diff_creat_laun']=MinMaxScaler().fit_transform(combinedX['diff_creat_laun'])
combinedX['diff_laun_status']=MinMaxScaler().fit_transform(combinedX['diff_laun_status'])
combinedX['diff_status_dead']=MinMaxScaler().fit_transform(combinedX['diff_status_dead'])

/home/hduser/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:321: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/home/hduser/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:356: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/home/hduser/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, _DataConversionWarning)
/home/hduser/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:321: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/home/hduser/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:356: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/home/hduser/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:321: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/home/hduser/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:356: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/home/hduser/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:321: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
/home/hduser/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:356: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

In [57]:
combinedX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171594 entries, 0 to 171593
Data columns (total 4 columns):
goal                171594 non-null float64
diff_creat_laun     171594 non-null float64
diff_laun_status    171594 non-null float64
diff_status_dead    171594 non-null float64
dtypes: float64(4)
memory usage: 5.2 MB

In [58]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108129 entries, 0 to 108128
Data columns (total 8 columns):
project_id          108129 non-null object
desc                108121 non-null object
goal                108129 non-null float64
keywords            108129 non-null object
deadline            108129 non-null int64
state_changed_at    108129 non-null int64
created_at          108129 non-null int64
launched_at         108129 non-null int64
dtypes: float64(1), int64(4), object(3)
memory usage: 6.6+ MB

In [59]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63465 entries, 0 to 63464
Data columns (total 8 columns):
project_id          63465 non-null object
desc                63461 non-null object
goal                63465 non-null float64
keywords            63465 non-null object
deadline            63465 non-null int64
state_changed_at    63465 non-null int64
created_at          63465 non-null int64
launched_at         63465 non-null int64
dtypes: float64(1), int64(4), object(3)
memory usage: 3.9+ MB

In [60]:
combine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171594 entries, 0 to 171593
Columns: 650 entries, variable_0 to variable_649
dtypes: float64(650)
memory usage: 851.0 MB

### Now ready to train model!!!

In [61]:
cols_to_use = ['goal','diff_creat_laun','diff_laun_status','diff_status_dead']

In [64]:
train=pd.read_csv('/home/hduser/Desktop/FundingProject/Data/train.csv')

In [65]:
target = train['final_status']

In [66]:
#Numerical features normalized
train = combinedX.ix[0:108129]
test = combinedX.ix[108129:]
#test.reset_index(drop=True,inplace=True)

/home/hduser/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix

In [67]:
print(train.shape)
print('--------')
print(test.shape)

(108130, 4)
--------
(63465, 4)

In [68]:
#split the text features

train_text = combine[:train.shape[0]]
test_text = combine[train.shape[0]:]

test_text.reset_index(drop=True,inplace=True)

In [69]:
print(train_text.shape)
print('--------')
print(test_text.shape)

(108130, 650)
--------
(63464, 650)

In [70]:
X_train1 = train.join(train_text)
X_test1 = test.join(test_text)
#X_train1=train_text.join(train)
#X_test1 =test_text.join(test)
#X_train1

In [75]:
print(X_train1.shape)
print(X_test1.shape)

(108130, 654)
(63465, 654)

In [74]:
X_train1.tail(1)

,goal,diff_creat_laun,diff_laun_status,diff_status_dead,variable_0,variable_1,variable_2,variable_3,variable_4,variable_5,...,variable_640,variable_641,variable_642,variable_643,variable_644,variable_645,variable_646,variable_647,variable_648,variable_649
108129,0.00007,0.000813,0.112858,0.233333,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [78]:
import xgboost as xgb

/home/hduser/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [80]:
dtrain = xgb.DMatrix(data=X_train1, label = target)
dtest = xgb.DMatrix(data=X_test1)

In [81]:
params = {
    'objective':'binary:logistic',
    'eval_metric':'error',
    'eta':0.025,
    'max_depth':6,
    'subsample':0.7,
    'colsample_bytree':0.7,
    'min_child_weight':5
    
}

In [ ]:
bst = xgb.cv(params, dtrain, num_boost_round=1000, early_stopping_rounds=40,nfold=5,verbose_eval=10)

[0]	train-error:0.309239+0.000909159	test-error:0.312143+0.0021888
[10]	train-error:0.304851+0.00110655	test-error:0.308508+0.00419725
[20]	train-error:0.3039+0.00104333	test-error:0.308111+0.0036522
[30]	train-error:0.302975+0.00106817	test-error:0.306381+0.0037821
[40]	train-error:0.301175+0.00107429	test-error:0.305161+0.00355266
[50]	train-error:0.299024+0.000807654	test-error:0.303931+0.00320334
[60]	train-error:0.29723+0.000599509	test-error:0.302858+0.00289294
[70]	train-error:0.295836+0.000589217	test-error:0.301674+0.00307424
[80]	train-error:0.294298+0.000451944	test-error:0.300388+0.00280932

In [ ]:
bst_train = xgb.train(params, dtrain, num_boost_round=1000)

In [ ]:
sub = pd.DataFrame()
sub['project_id'] = test['project_id']
sub['final_status'] = p_test

In [ ]:
sub['final_status'] = [1 if x > 0.5 else 0 for x in sub['final_status']]

In [ ]:
sub.to_csv("xgb_with_python_feats.csv",index=False) #0.70