In [1]:
import pandas as pd
import numpy as np
import nltk

In [2]:
X_train=pd.read_csv('/home/bhaskar/Desktop/Projects/FundingProject /Data/train.csv')
X_test=pd.read_csv('/home/bhaskar/Desktop/Projects/FundingProject /Data/test.csv')

In [3]:
X_train.shape

(108129, 14)

In [4]:
y=X_train['final_status']

In [5]:
X_test.shape

(63465, 12)

In [6]:
X_train.head()

,project_id,name,desc,goal,keywords,disable_communication,country,currency,deadline,state_changed_at,created_at,launched_at,backers_count,final_status
0,kkst1451568084,drawing for dollars,I like drawing pictures. and then i color them...,20.0,drawing-for-dollars,False,US,USD,1241333999,1241334017,1240600507,1240602723,3,1
1,kkst1474482071,Sponsor Dereck Blackburn (Lostwars) Artist in ...,"I, Dereck Blackburn will be taking upon an inc...",300.0,sponsor-dereck-blackburn-lostwars-artist-in-re...,False,US,USD,1242429000,1242432018,1240960224,1240975592,2,0
2,kkst183622197,Mr. Squiggles,So I saw darkpony's successfully funded drawin...,30.0,mr-squiggles,False,US,USD,1243027560,1243027818,1242163613,1242164398,0,0
3,kkst597742710,Help me write my second novel.,Do your part to help out starving artists and ...,500.0,help-me-write-my-second-novel,False,US,USD,1243555740,1243556121,1240963795,1240966730,18,1
4,kkst1913131122,Support casting my sculpture in bronze,"I'm nearing completion on a sculpture, current...",2000.0,support-casting-my-sculpture-in-bronze,False,US,USD,1243769880,1243770317,1241177914,1241180541,1,0

In [7]:
X_test.head()

,project_id,name,desc,goal,keywords,disable_communication,country,currency,deadline,state_changed_at,created_at,launched_at
0,kkst917493670,Br√†thair.,"My first film, of many to come. Trying to purs...",7000.0,brathair,False,US,USD,1449619185,1449619185,1446002581,1446159585
1,kkst1664901914,THE SCREENWRITER,A young man that has earned his master's in sc...,35000.0,the-screenwriter,False,US,USD,1453435620,1453435620,1450297323,1450411620
2,kkst925125077,The Hornets Nest the Fairmont Heights Story,Film about a high school constructed for negro...,49500.0,the-hornets-nest-the-fairmont-heights-story,False,US,USD,1451780700,1451780700,1448581356,1448672128
3,kkst1427645275,BROTHERS Season 2 - Groundbreaking Transgender...,The acclaimed series about a group of transgen...,40000.0,brothers-season-2-groundbreaking-transgender-male,False,US,USD,1445021518,1445021530,1440966830,1442429518
4,kkst1714249266,Blackdom the movie,Blackdom's history offers a new narrative tha...,20000.0,blackdom-the-movie,False,US,USD,1462068840,1462068844,1455765276,1458334890

In [8]:
X_train.drop(['name','disable_communication','country','currency','backers_count','final_status'],axis=1,inplace=True)

In [9]:
X_test.drop(['name','disable_communication','country','currency'],axis=1,inplace=True)

In [10]:
print(X_train.shape)
print("------------------------\n")
print(X_test.shape)

(108129, 8)
------------------------

(63465, 8)

In [11]:
X_train.head()

,project_id,desc,goal,keywords,deadline,state_changed_at,created_at,launched_at
0,kkst1451568084,I like drawing pictures. and then i color them...,20.0,drawing-for-dollars,1241333999,1241334017,1240600507,1240602723
1,kkst1474482071,"I, Dereck Blackburn will be taking upon an inc...",300.0,sponsor-dereck-blackburn-lostwars-artist-in-re...,1242429000,1242432018,1240960224,1240975592
2,kkst183622197,So I saw darkpony's successfully funded drawin...,30.0,mr-squiggles,1243027560,1243027818,1242163613,1242164398
3,kkst597742710,Do your part to help out starving artists and ...,500.0,help-me-write-my-second-novel,1243555740,1243556121,1240963795,1240966730
4,kkst1913131122,"I'm nearing completion on a sculpture, current...",2000.0,support-casting-my-sculpture-in-bronze,1243769880,1243770317,1241177914,1241180541

In [12]:
#import time

#unix_cols = ['deadline','state_changed_at','launched_at','created_at']

#for x in unix_cols:
#    X_train[x] = X_train[x].apply(lambda k: time.ctime(k))
#    X_test[x] = X_test[x].apply(lambda k: time.ctime(k))

In [13]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63465 entries, 0 to 63464
Data columns (total 8 columns):
project_id          63465 non-null object
desc                63461 non-null object
goal                63465 non-null float64
keywords            63465 non-null object
deadline            63465 non-null int64
state_changed_at    63465 non-null int64
created_at          63465 non-null int64
launched_at         63465 non-null int64
dtypes: float64(1), int64(4), object(3)
memory usage: 3.9+ MB

In [14]:
print(X_train.iloc[0])

project_id                                             kkst1451568084
desc                I like drawing pictures. and then i color them...
goal                                                               20
keywords                                          drawing-for-dollars
deadline                                                   1241333999
state_changed_at                                           1241334017
created_at                                                 1240600507
launched_at                                                1240602723
Name: 0, dtype: object

In [15]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108129 entries, 0 to 108128
Data columns (total 8 columns):
project_id          108129 non-null object
desc                108121 non-null object
goal                108129 non-null float64
keywords            108129 non-null object
deadline            108129 non-null int64
state_changed_at    108129 non-null int64
created_at          108129 non-null int64
launched_at         108129 non-null int64
dtypes: float64(1), int64(4), object(3)
memory usage: 6.6+ MB

In [16]:
X_train.head()

,project_id,desc,goal,keywords,deadline,state_changed_at,created_at,launched_at
0,kkst1451568084,I like drawing pictures. and then i color them...,20.0,drawing-for-dollars,1241333999,1241334017,1240600507,1240602723
1,kkst1474482071,"I, Dereck Blackburn will be taking upon an inc...",300.0,sponsor-dereck-blackburn-lostwars-artist-in-re...,1242429000,1242432018,1240960224,1240975592
2,kkst183622197,So I saw darkpony's successfully funded drawin...,30.0,mr-squiggles,1243027560,1243027818,1242163613,1242164398
3,kkst597742710,Do your part to help out starving artists and ...,500.0,help-me-write-my-second-novel,1243555740,1243556121,1240963795,1240966730
4,kkst1913131122,"I'm nearing completion on a sculpture, current...",2000.0,support-casting-my-sculpture-in-bronze,1243769880,1243770317,1241177914,1241180541

In [17]:
X_test.head()

,project_id,desc,goal,keywords,deadline,state_changed_at,created_at,launched_at
0,kkst917493670,"My first film, of many to come. Trying to purs...",7000.0,brathair,1449619185,1449619185,1446002581,1446159585
1,kkst1664901914,A young man that has earned his master's in sc...,35000.0,the-screenwriter,1453435620,1453435620,1450297323,1450411620
2,kkst925125077,Film about a high school constructed for negro...,49500.0,the-hornets-nest-the-fairmont-heights-story,1451780700,1451780700,1448581356,1448672128
3,kkst1427645275,The acclaimed series about a group of transgen...,40000.0,brothers-season-2-groundbreaking-transgender-male,1445021518,1445021530,1440966830,1442429518
4,kkst1714249266,Blackdom's history offers a new narrative tha...,20000.0,blackdom-the-movie,1462068840,1462068844,1455765276,1458334890

In [18]:
def combinedata():
    combined_X=X_train.append(X_test)
    #combined_X['desc']=combinedX['desc'].astype(str)
    combined_X['diff_creat_laun']=abs(combined_X['created_at']-combined_X['launched_at'])
    combined_X['diff_laun_status']=abs(combined_X['launched_at']-combined_X['state_changed_at'])
    combined_X['diff_status_dead']=(combined_X['state_changed_at']-combined_X['deadline'])
    print("Shape of total data",combined_X.shape)
    return combined_X

In [19]:
combinedX=combinedata()

Shape of total data (171594, 11)

In [20]:
combinedX.drop(['created_at','launched_at','state_changed_at','deadline'],axis=1,inplace=True)

In [21]:
combinedX.head()

,project_id,desc,goal,keywords,diff_creat_laun,diff_laun_status,diff_status_dead
0,kkst1451568084,I like drawing pictures. and then i color them...,20.0,drawing-for-dollars,2216,731294,18
1,kkst1474482071,"I, Dereck Blackburn will be taking upon an inc...",300.0,sponsor-dereck-blackburn-lostwars-artist-in-re...,15368,1456426,3018
2,kkst183622197,So I saw darkpony's successfully funded drawin...,30.0,mr-squiggles,785,863420,258
3,kkst597742710,Do your part to help out starving artists and ...,500.0,help-me-write-my-second-novel,2935,2589391,381
4,kkst1913131122,"I'm nearing completion on a sculpture, current...",2000.0,support-casting-my-sculpture-in-bronze,2627,2589776,437

In [22]:
combinedX.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171594 entries, 0 to 63464
Data columns (total 7 columns):
project_id          171594 non-null object
desc                171582 non-null object
goal                171594 non-null float64
keywords            171594 non-null object
diff_creat_laun     171594 non-null int64
diff_laun_status    171594 non-null int64
diff_status_dead    171594 non-null int64
dtypes: float64(1), int64(3), object(3)
memory usage: 10.5+ MB

In [23]:
combinedX.desc=combinedX.desc.astype('str')
combinedX.keywords=combinedX.keywords.astype('str')

In [24]:
combinedX.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171594 entries, 0 to 63464
Data columns (total 7 columns):
project_id          171594 non-null object
desc                171594 non-null object
goal                171594 non-null float64
keywords            171594 non-null object
diff_creat_laun     171594 non-null int64
diff_laun_status    171594 non-null int64
diff_status_dead    171594 non-null int64
dtypes: float64(1), int64(3), object(3)
memory usage: 10.5+ MB

In [25]:
combinedX.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171594 entries, 0 to 63464
Data columns (total 7 columns):
project_id          171594 non-null object
desc                171594 non-null object
goal                171594 non-null float64
keywords            171594 non-null object
diff_creat_laun     171594 non-null int64
diff_laun_status    171594 non-null int64
diff_status_dead    171594 non-null int64
dtypes: float64(1), int64(3), object(3)
memory usage: 10.5+ MB

In [26]:
combinedX.isnull().any() #Null values check

project_id          False
desc                False
goal                False
keywords            False
diff_creat_laun     False
diff_laun_status    False
diff_status_dead    False
dtype: bool

In [102]:
combinedX["desc"] = combinedX["desc"].apply(nltk.word_tokenize)

In [73]:
combinedX.head()

,project_id,desc,goal,keywords,diff_creat_laun,diff_laun_status,diff_status_dead
0,kkst1451568084,"[I, like, drawing, pictures, ., and, then, i, ...",20.0,[drawing-for-dollars],2216,731294,18
1,kkst1474482071,"[I, ,, Dereck, Blackburn, will, be, taking, up...",300.0,[sponsor-dereck-blackburn-lostwars-artist-in-r...,15368,1456426,3018
2,kkst183622197,"[So, I, saw, darkpony, 's, successfully, funde...",30.0,[mr-squiggles],785,863420,258
3,kkst597742710,"[Do, your, part, to, help, out, starving, arti...",500.0,[help-me-write-my-second-novel],2935,2589391,381
4,kkst1913131122,"[I, 'm, nearing, completion, on, a, sculpture,...",2000.0,[support-casting-my-sculpture-in-bronze],2627,2589776,437

In [74]:
combinedX['keywords'] = combinedX['keywords'].str.split('-')

In [75]:
combinedX.head()

,project_id,desc,goal,keywords,diff_creat_laun,diff_laun_status,diff_status_dead
0,kkst1451568084,"[I, like, drawing, pictures, ., and, then, i, ...",20.0,NaN,2216,731294,18
1,kkst1474482071,"[I, ,, Dereck, Blackburn, will, be, taking, up...",300.0,NaN,15368,1456426,3018
2,kkst183622197,"[So, I, saw, darkpony, 's, successfully, funde...",30.0,NaN,785,863420,258
3,kkst597742710,"[Do, your, part, to, help, out, starving, arti...",500.0,NaN,2935,2589391,381
4,kkst1913131122,"[I, 'm, nearing, completion, on, a, sculpture,...",2000.0,NaN,2627,2589776,437

In [41]:
combinedX.head()

,project_id,desc,goal,keywords,diff_creat_laun,diff_laun_status,diff_status_dead
0,kkst1451568084,"[I, like, drawing, pictures, ., and, then, i, ...",20.0,drawing-for-dollars,2216,731294,18
1,kkst1474482071,"I, Dereck Blackburn will be taking upon an inc...",300.0,sponsor-dereck-blackburn-lostwars-artist-in-re...,15368,1456426,3018
2,kkst183622197,So I saw darkpony's successfully funded drawin...,30.0,mr-squiggles,785,863420,258
3,kkst597742710,Do your part to help out starving artists and ...,500.0,help-me-write-my-second-novel,2935,2589391,381
4,kkst1913131122,"I'm nearing completion on a sculpture, current...",2000.0,support-casting-my-sculpture-in-bronze,2627,2589776,437

In [104]:
from nltk import RegexpTokenizer
from nltk.corpus import stopwords

#removing seemingly useless stopwords decreases performance ~ 1%
def removePunktAndStopwords(phrases):
    toInclude = set(['above','below','between','but','couldn','didn','doesn','down',
                     'few','hadn','haven','isn','just','mightn','mustn','needn','nor',
                     'not','off','once','only','out','over','should','shouldn','some',
                     'very','wasn','weren','won','wouldn','again','against','all',
                     'any','aren'])
    stop_wordsLarge = set(stopwords.words('english'))
    stop_words = set([w for w in stop_wordsLarge if w not in toInclude])
    tokenizer = RegexpTokenizer('[a-z]\w+')
    docs_toke = [tokenizer.tokenize(doc.lower()) for doc in phrases]
    stopwordsremoved = [[t for t in temp if t not in stop_words] for temp in docs_toke]
    return np.asarray([" ".join(w) for w in stopwordsremoved])